body{
   background-color: #1c94da;
}

.header{
   color: $corbranca;
   display: flex;
   justify-content: center;
   padding: 1%;
   .titulo-header{
      font-size: 2.5em;
      font-family: 'Fresca', sans-serif;
   }
}

.container{
   color: #000;
   display: flex;
   justify-content: center;
   margin-bottom: 2%;
   .section{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      background-color: $corbranca;
      width: 47%;
      padding: 1%;
      box-shadow: .25em .25em .25em rgba(#000000, 0.3);
      border-radius: 10px;
      div{
         margin: 1%;
      }
      .mensagem{
         font-family: 'Open Sans', sans-serif;
      }
      .imagem img{
         border-radius: 50%;
      }
   }
}

.footer{
   text-align: center;
   color: $corbranca;
   font-style: italic;
}