body {
   background: #000;
   h1{
      color: white;
      font-size: 3em;
   }
}

.campo-soma{
   margin-top: 2em;
   display: flex;
   span{
      color: white;
      margin: 0 2px 0 2px;
   }
}

.resultado{
   color: white;
   margin-top: 2em;
   font-size: 1.5em;
}